# Data Exploratory

In [1]:
import pandas as pd
import scipy.stats as st
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [10]:
df = pd.read_csv("nba_player_stats_C_Rami.csv")
df

                        Player Team  Points  Season
0                  Luka Dončić  DAL  2370.0    2024
1      Shai Gilgeous-Alexander  OKC  2254.0    2024
2        Giannis Antetokounmpo  MIL  2222.0    2024
3                Jalen Brunson  NYK  2212.0    2024
4                 Nikola Jokić  DEN  2085.0    2024
...                        ...  ...     ...     ...
17808               Yinka Dare  NJN     0.0    1995
17809              Tom Hovasse  ATL     0.0    1995
17810                Rich King  SEA     0.0    1995
17811           Derrick Phelps  SAC     0.0    1995
17812           League Average  NaN     NaN    1995

[17813 rows x 4 columns]

In [3]:
df.columns

Index(['Player', 'Team', 'Points', 'Season'], dtype='object')

In [4]:
df.dtypes

Player     object
Team       object
Points    float64
Season      int64
dtype: object

In [9]:
print("Missing values per columns:")
print(df.isnull().sum())

Missing values per columns:
Player     0
Team      30
Points    30
Season     0
dtype: int64

In [7]:
def get_player_stats(player_name, df):

    # Filter the dataset for the given player
    player_data = df[df['Player'].str.lower() == player_name.lower()]
    
    if player_data.empty:
        print(f"No data found for player: {player_name}")
        return None
    
    # Sort by season
    player_data = player_data.sort_values(by='Season', ascending=True)
    
    # Print the table
    print(player_data)

    #Plotting the data
    plt.figure(figsize=(10, 5))
    sns.lineplot(x=player_data['Season'], y=player_data['Points'], label=player_name)
    plt.xlabel("Season")
    plt.ylabel("Total Points")
    plt.title(f"Points per Season for {player_name}")
    plt.xticks(player_data['Season'].unique())
    plt.grid(True)
    plt.show()

player_name = input("Enter player name: ")
get_player_stats(player_name, df)

No data found for player:

In [8]:
import geopandas as gpd
import matplotlib.pyplot as plt
import contextily as ctx
from shapely.geometry import Point
import pandas as pd

#Dictionary mapping NBA teams to cities and their approximate coordinates
team_city_mapping = {
    "ATL": ("Atlanta", -84.3880, 33.7490),
    "BOS": ("Boston", -71.0589, 42.3601),
    "BKN": ("Brooklyn", -73.9442, 40.6782),
    "CHA": ("Charlotte", -80.8431, 35.2271),
    "CHI": ("Chicago", -87.6298, 41.8781),
    "CLE": ("Cleveland", -81.6944, 41.4993),
    "DAL": ("Dallas", -96.7970, 32.7767),
    "DEN": ("Denver", -104.9903, 39.7392),
    "DET": ("Detroit", -83.0458, 42.3314),
    "GSW": ("San Francisco", -122.4194, 37.7749),
    "HOU": ("Houston", -95.3698, 29.7604),
    "IND": ("Indianapolis", -86.1581, 39.7684),
    "LAC": ("Los Angeles", -118.2437, 34.0522),
    "LAL": ("Los Angeles", -118.2437, 34.0522),
    "MEM": ("Memphis", -90.0490, 35.1495),
    "MIA": ("Miami", -80.1918, 25.7617),
    "MIL": ("Milwaukee", -87.9065, 43.0389),
    "MIN": ("Minneapolis", -93.2650, 44.9778),
    "NOP": ("New Orleans", -90.0715, 29.9511),
    "NYK": ("New York", -74.0060, 40.7128),
    "OKC": ("Oklahoma City", -97.5164, 35.4676),
    "ORL": ("Orlando", -81.3792, 28.5383),
    "PHI": ("Philadelphia", -75.1652, 39.9526),
    "PHX": ("Phoenix", -112.0740, 33.4484),
    "POR": ("Portland", -122.6765, 45.5152),
    "SAC": ("Sacramento", -121.4944, 38.5816),
    "SAS": ("San Antonio", -98.4936, 29.4241),
    "TOR": ("Toronto", -79.3832, 43.6532),
    "UTA": ("Salt Lake City", -111.8910, 40.7608),
    "WAS": ("Washington", -77.0369, 38.9072)
}

def plotcities(player_name, df):
    player_data = df[df['Player'].str.lower() == player_name.lower()]
    
    if player_data.empty:
        print(f"No data found for player: {player_name}")
        return
    
    teams = player_data['Team']
    
    # Get city coordinates
    cities = [(team_city_mapping[team][0], team_city_mapping[team][1], team_city_mapping[team][2]) for team in teams if team in team_city_mapping]

    if not cities:
        print(f"No mapped cities found for {player_name}.")
        return

    # Convert to GeoDataFrame
    gdf = gpd.GeoDataFrame(cities, columns=['City', 'Longitude', 'Latitude'])
    gdf['geometry'] = [Point(xy) for xy in zip(gdf['Longitude'], gdf['Latitude'])]
    gdf = gdf.set_geometry('geometry').set_crs(epsg=4326).to_crs(epsg=3857)

    # Assign colors based on amount of points scored
    #gdf['color'] = gdf['Points'].apply(lambda p: 'green' if p < 500 else 'blue' if p < 1250 else 'red')

    # Plot
    fig, ax = plt.subplots(figsize=(12, 8))
    gdf.plot(ax=ax, marker='o', color='red', markersize=100, alpha=0.7, edgecolor='black', label=player_name)

    # Add basemap
    ctx.add_basemap(ax, source=ctx.providers.OpenStreetMap.Mapnik)

    ax.set_title(f"Cities {player_name} Played For", fontsize=16)
    ax.set_axis_off()
    plt.legend()
    plt.show()

# Example usage
plotcities(player_name, df)

No data found for player:

/Users/martine/Library/Python/3.9/lib/python/site-packages/urllib3/__init__.py:35: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(